
  
/* ========== RESET & GLOBAL STYLES ========== */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/* ========== FLOATING CART BUTTON ========== */
.cart-button {
  position: fixed;
  margin: 20px 10px;
  right: 20px;
  width: 70px;
  height: 70px;
  background: #79907d;
  color: #fff;
  border: none;
  font-size: 22px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 1001;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/* ========== CART MODAL ========== */
.cart-modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
}

.cart-content {
  max-height: 100vh;
  overflow-y: auto;
  background: white;
  border-radius: 12px;
  padding: 10px;
  width: 90%;
  max-width: 400px;
  margin: 10px auto;
  position: relative;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 16px;
  font-size: 24px;
  cursor: pointer;
}

.divProductsModal {
  background-color: #b8d8be;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  margin: 10px 30px;
  font-size: 14px;
  font-weight: bold;
}
.modal-info {
  display: flex;
  flex-direction: column;
  align-items:start;
  gap: 5px;

}
.btns-modal{
  display: flex;
  justify-content: space-between;
}
.btn-plus, .btn-minus, .btn-remove{
  height: 30px;
  width: 30px;
  font-weight: bold;
  border: none;
  background-color: #fff;
  border-radius: 5px;
  margin: 0 7px;

}
.img-modal {
  height: 50px;
  border-radius: 10px;
}

.totalModal {
  display: flex;
  justify-content: space-between;
}
.totalModal button{
  cursor: pointer;
  background-color: #b8d8be;
  border:none;
  border-radius: 10px;
  width: 140px;
  height: 30px;
  color: #010101;
  font-size: 15px;
  font-weight: bold;
  margin: 20px 10px;
  transition: 1s;
}
.totalModal button:hover{
  transition: 1s;
  color: #ffffff;
  background-color: #507357;
}
.totalModal p {
  padding-top: 30px;
  margin: 0 20px;
  font-size: 16px;
  font-weight: bold;
}
/* ========== Modal checkout ========*/
.checkout-title{
  text-align: center;
  margin: 30px 0;
}
.checkout-title hr{
  color: #b8d8be;

}
.chekoutListProducts{
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
  background-color: #b8d8be;
  margin: 5px;
  padding: 10px;
  border-radius: 10px;
}
.ckeckout-total{
  display: flex;
  justify-content: space-between;  
  background-color: #b8d8be;
  padding: 10px ;
  border-radius: 10px;
  margin: 30px 0;
}

.divCheakoutsBtns div{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
.divCheakoutsBtns input{
  text-align: center;
  height: 30px;
  width: 150px;
  border-radius: 8px;
  padding: 10px;
  margin: 5px 10px;
  border:none;
  background-color: #e8e8e8;
}
#apply-coupon-btn {
  cursor: pointer;
  border: none;
  height: 30px;
  width: 120px;
  margin: 0 10px;
  border-radius: 8px;
  text-align: center;
  font-weight: 500;
  background-color: #b8d8be;
}
#confirm-order-btn{
  transition: 1s;
  cursor: pointer;
  border: none;
  height: 35px;
  width: 300px;
  border-radius: 8px;
  text-align: center;
  font-weight: bold;
  background-color: #b8d8be;
}
#confirm-order-btn:hover{
  background-color: #507357;
  color: #e8e8e8;
  width: 170px;
}
.cuponApply{
  display: flex;
  flex-direction:column;
  background-color: #d8ffdf;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}
/* ========== HEADER ========== */
header {
  width: 100%;
  height: 100vh;
  background-image: url(https://wallpapersok.com/images/hd/tropical-plants-and-leaves-vector-art-891oig2hf9f1novi.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.logo {
  display: flex;
  justify-content: center;
}

.logo img {
  width: 400px;
  height: 400px;
}

nav a {
  text-decoration: none;
  color: #444;
  margin: 0 40px;
  font-weight: 600;
}

ul {
  display: flex;
  justify-content: center;
  list-style: none;
}

ul li {
  transition: 1s;
  font-size: 18px;
}

ul li:hover {
  transition: 1s;
  letter-spacing: 3px;
}

/* ========== MAIN SECTION ========== */
main {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.about {
  font-style: italic;
  padding: 100px 500px;
  text-align: center;
  background-color: #b8d8be;
  color: #333;
  font-weight: 500;
}
.about img{
  width: 200px;
  height: 200px;
}
.titleProducts {
  font-size: 18px;
  text-align: center;
  padding-top: 100px;
  font-weight: 700;
  color: #444;
}

.shop {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  padding: 70px 300px;
  color: #444;
}

.product-card img {
  width: 250px;
  border-radius: 10px;
  margin: 40px;
}

.btnAddCart {
  cursor: pointer;
  font-weight: bold;
  background-color: #b8d8be;
  border: none;
  margin: 20px 0;
  height: 30px;
  width: 250px;
  border-radius: 10px;
  transition: 1s;
}
.btnAddCart:hover {
  transition: 1s;
  background-color: #507357;
  color: #fff;
}

/* ========== FOOTER ========== */
footer {
  height: 500px;
  background-color: #b8d8be;;
}

.footer {
  color: #333;
  padding: 40px 20px 20px;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 30px;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-logo img {
  width: 300px;
  height: 300px;
}

.footer-links ul {
  list-style: none;
  padding-top: 100px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.footer-contact {
  padding-top: 150px;
  font-size: 14px;
}
  





/* ========== RESPONSIVE DESIGN ========== */
@media screen and (max-width: 1300px) {

/* ========== FLOATING CART BUTTON ========== */

  .cart-button {
    margin: 30px 0px;
    right: 20px;
    width: 50px;
    height: 50px;
  }

/* ========== HEADER ========== */
  .logo img {
    width: 300px;
    height: 300px;
  }
  nav a {
    margin: 0px 20px;
  }
  ul li {
    font-size: 14px;
    margin: 10px 0;
  }
  .image {
    height: 500px;
  }

/* ======= modal==========*/
.cart-content {
  max-width: 350px;
}
.divProductsModal {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0px;
  font-size: 12px;
  font-weight: bold;
}
.modal-info {
  font-size: 12px;
  background-color: #b8d8be;
  padding: 15px 0px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0 10px;
}
.btns-modal{
  display: flex;
  padding-top: 0px;
  gap:10px;
  margin: -35px 0 0 70px;
}
.btn-plus, .btn-minus, .btn-remove{
  height: 25px;
  width: 25px;
  font-weight: bold;
  margin: 0;
}
.totalModal{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/*========checkout ============*/

.divCheakoutsBtns input{
  height: 40px;
  width: 110px;

}
#apply-coupon-btn {
  height: 40px;
  width: 120px;
  padding: 0 10px;
}
#confirm-order-btn{
  width: 230px;
}


/* ========== main ========== */

.about {
  font-style: italic;
  padding: 100px 60px 50px 60px;
  font-size: 14px;
  font-weight: 500;
}

.shop {
  grid-template-columns: 1fr;
  padding: 30px;
}
  .cart-content {
    width: 95%;
    margin: 20% auto;
  }

  .divProductsModal {
    flex-direction: column;
    gap: 10px;
    margin: 10px;
    align-items: flex-start;
  }
  footer{
    height:auto;
  }
  .footer-content {
    flex-direction: column;
    align-items: center;
  }

  .footer-links ul {

    padding-top: 10px;
    align-items: center;
  }

  .footer-contact {
    padding-top: 10px;
    text-align: center;
  }

}